# Node.js dependencies
/node_modules

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# OS junk files
.DS_Store
Thumbs.db

# Optional: Ignore local dev settings
.vscode/
.idea/
*.sublime-workspace
